# Homework 1 - Richard Todd

In [2]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib as plt

In [9]:
#Read the CSV file into a pandas dataframe. (1 pt)
bike_df = pd.read_csv('../data/65db-xm6k.csv')

In [11]:
#quick look at data
bike_df.head()

,date,fremont_bridge,fremont_bridge_sb,fremont_bridge_nb
0,2012-10-03T00:00:00.000,13,4,9
1,2012-10-03T01:00:00.000,10,4,6
2,2012-10-03T02:00:00.000,2,1,1
3,2012-10-03T03:00:00.000,5,2,3
4,2012-10-03T04:00:00.000,7,6,1

In [13]:
#check types
bike_df.dtypes

date                 object
fremont_bridge        int64
fremont_bridge_sb     int64
fremont_bridge_nb     int64
dtype: object

In [19]:
#coerce date column to a datetime format
bike_df.date = pd.to_datetime(bike_df.date, format="")

date                 datetime64[ns]
fremont_bridge                int64
fremont_bridge_sb             int64
fremont_bridge_nb             int64
dtype: object

In [ ]:
#Add columns to the dataframe containing: ( 3 pt)
#The total (East + West) bicycle count
#The hour of the day
#The year

In [ ]:
#Create a dataframe with the subset of data from the year 2016 (1 pt)

In [ ]:
#Use pandas + matplotlib to plot the counts by hour. (i.e. hour of the day on the x-axis, total daily counts on the y-axis) (1 pt)

In [ ]:
#Use pandas to determine what is (on average) the busiest hour of the day (1 pt)